node_modules/
package-lock.json
.env
.terraform/
terraform/.terraform/
*.tfstate
*.tfstate.*
*.log
dist/
build/
layer/
terraform/lambda_layer.zip
terraform/tfplan
*.zip
layer.zip
terraform/awscliv2.zip